bs/js
bs/lib
bs/node_modules
/labltk/dance
/labltk/_build
scalajs/project/target
scalajs/target
scalajs/.metals
._d
.merlin
*.bs.js
*.cmi
*.cmt
*.cmx
*.o
.DS_Store
/haskell/dist-newstyle/
/haskell/dop.png
/kotlinjs/build/
/reason/esy.lock/
/java/.gradle/
/java/build/
/ocaml/_build/
